# Minecraft Server Settings
MC_HOST=162.55.80.246
MC_PORT=10790
MC_USERNAME=nonstop
MC_VERSION=1.19.2
MC_AUTH=offline
MC_PASSWORD=

# Auto Attack Settings
AUTO_ATTACK=true
ATTACK_INTERVAL_MS=1000

# Web Server Port (Render otomatis mengisi PORT)
PORT=8000
